<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pe.udaff.ist.trabajofinal02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CancelarReserva"></activity>
        <activity android:name=".ConsultarFecha" />
        <activity android:name=".ReservaGRASS" />
        <activity android:name=".EditarGRASS" />
        <activity android:name=".ListMiGRASS" />
        <activity android:name=".RegisterGrass" />
        <activity android:name=".MostrarListReservadosGrass" />
        <activity android:name=".MostrarListGrass" />
        <activity android:name=".EditarUser" />
        <activity android:name=".MostrarUser" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>